<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>50e45661e7197fbc105f6813178c56cf</string>
	<key>images</key>
	<dict>
		<key>3VXg4WLpST6hiN6S1qLB3Q</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>3Z+egv1kRWCbcr2cd2zb+g</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>8oJiKhNpTmmcllvXE8mIYQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>94uYCzKpTJu1tgNsUAD2zw</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>CbOsiryjStmFTCET68NxGw</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>EymB4tyASdGgQJUSdsJbRg</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:03Z</date>
		</dict>
		<key>G65/R4NOTay5FyFlZn/u5w</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:00Z</date>
		</dict>
		<key>GGcB6NKXTNqOcSqkybf4KQ</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:00Z</date>
		</dict>
		<key>HwZSTpUgSf2CFNRUWtlrwg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>LHnq+BezR1+idhIU4eneQw</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:03Z</date>
		</dict>
		<key>O0sPb8YET2iQ7hFvL+wuGg</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:05Z</date>
		</dict>
		<key>P+VwF3W6Qo2TLnpui0p3lg</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:04Z</date>
		</dict>
		<key>S6cTcMFzRu2DbKCswwlZWA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>ViKaqP0ZTT2zisVIs7Z22A</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>WR+soE9ZQJubIQEpzm1c3A</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:05Z</date>
		</dict>
		<key>XirCZLtzTE68Efmpd/2F5Q</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>YvpS0iB+ScyHdGqzo9km7Q</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:00Z</date>
		</dict>
		<key>c/AoenFTSqKwyRDkx4byYw</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:05Z</date>
		</dict>
		<key>dNRGmxNeSuOTFB1xrT0PTQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>i81gbde1QKOOMfF0fmbNuw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>jkot3VyQQYWwHSvW1hQN0Q</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:05Z</date>
		</dict>
		<key>p4MoR9MHS7uf0Fta5wCdTw</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:05Z</date>
		</dict>
		<key>r7uxMZgwR7+xPkdfQda4wQ</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>rVFy7pHtTEmRDuTq1NHsIA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:01Z</date>
		</dict>
		<key>sJsZrwshTMKGyxJgf1xHNQ</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2007-07-24T22:05:05Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>4d0cc300f11e3ad502034cc85fb64743</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
