<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>50e45661e7197fbc105f6813178c56cf</string>
	<key>images</key>
	<dict>
		<key>0S5Cf4JJTu+3JPMo3/mnFQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:47Z</date>
		</dict>
		<key>0Y65nRy/TDKdEk0eKra6Lg</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>2K+YBmkyQJetlod3xNZAiA</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:44Z</date>
		</dict>
		<key>6M4BlY4pTxyvUCfVWnDv1w</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:44Z</date>
		</dict>
		<key>DtIsE7PLQj+6RZBoS0RHlA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>IPNfQ0x4RF2wesbAZWmm9A</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:44Z</date>
		</dict>
		<key>J9OusiqVTc2qlt3x4N6kXA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>P2o+J5r7T76MYXwSSrybNA</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>Rn/K5BewTdqBvWU0ao4Rog</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>XWm37D/HT7ihRBQwodiMXw</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>dp3I1LUnSxqOhrOW6sJcYg</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:47Z</date>
		</dict>
		<key>eulyaKUXR5adKRHrZmHweQ</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:48Z</date>
		</dict>
		<key>g3G4ewdHQ7GPrZ2bfYl2dw</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:43Z</date>
		</dict>
		<key>jLrfKfTJSkqgCCo/tS8YQg</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:44Z</date>
		</dict>
		<key>lArxKC/MTLqEiIsRxd9gWg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:47Z</date>
		</dict>
		<key>s7WSnokcQImzkwCe90GdlA</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-07-24T22:04:44Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>4d0cc300f11e3ad502034cc85fb64743</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
